<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded!=false" class="table">
    <thead>
        <tr class="bg-dark text-warning">
            <td>Brand Name</td>
            <td>Color Name</td>
            <td>Daily Price</td>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
    </tr>
</table>
